@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap");
@import url("font-family: 'Playfair Display', serif;");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
.offset:before {
  display: block;
  content: "";
  height: 6rem;
}

.journ {
  background: #abc29b;
}

.navbar {
  text-transform: uppercase;
  font-size: 14 px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 20px 0;
}
.navbar-dark.navbar-nav.nav-link {
  color: #fff;
  padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}
.heading-content {
  position: absolute;
  top: 70%;
  width: 100%;
  max-width: 100%;
}

.heading-content h1 {
  font-size: 4em;
  font-weight: bolder;
  color: #fff;
  width: 100%;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.animate {
  font-size: 50px;
  margin: 100px 0 0;
}
.animate span {
  display: inline-block;
}
.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}
.animate span:nth-of-type(21) {
  animation-delay: 1s;
}
.animate span:nth-of-type(22) {
  animation-delay: 1.05s;
}
.animate span:nth-of-type(23) {
  animation-delay: 1.1s;
}
.animate span:nth-of-type(24) {
  animation-delay: 1.15s;
}
.animate span:nth-of-type(25) {
  animation-delay: 1.2s;
}
.animate span:nth-of-type(26) {
  animation-delay: 1.25s;
}
.animate span:nth-of-type(27) {
  animation-delay: 1.3s;
}
.animate span:nth-of-type(28) {
  animation-delay: 1.35s;
}
.seven span {
  color: white;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #348c04;
  }

  60% {
    color: #0f40ba;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
/*--------------------------------Newsletter Start------------------------------------*/

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right top, #e53935, #e35d5b);
}
.sec1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
}
.sec1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .navbar {
    letter-spacing: 0.1rem;
    padding: 10px 0;
  }
  .heading-content h5 {
    font-size: 3em;
  }
  .heading-content h1 {
    font-size: 3em;
  }
  .heading-content p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 479px) {
  .navbar {
    letter-spacing: 0.1rem;
    padding: 7px 0;
  }
  .heading-content h5 {
    font-size: 2em;
  }
  .heading-content h1 {
    font-size: 2em;
  }
  .heading-content p {
    font-size: 0.7em;
  }
  #contact .post-heading h3 {
    font-size: 2em;
  }
}

.main-bg {
  background-image: url("images/anirudh.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
